In [1]:
import os
import pandas as pd

In [20]:
digfirst_df = pd.read_csv('../download_papers/data/dig_first.csv', names=['Department', 'Name', 'Staff', 'Authors', 'Title', 'DOI'], header=0)
digfirst_df = digfirst_df[['Name', 'DOI']].dropna()
digfirst_df.head()

                       Name                            DOI
0              Harris, Paul            10.1038/nature14474
1               Tobin, Mark            10.1038/nature14474
2              Li, Weizhong            10.1038/nature14474
3             Wang, Zhenxin            10.1038/nature14474
4                 Thomas, C            10.1038/nature14474
...                     ...                            ...
751297        Coomber, Ross       10.1177/0022042619897425
751298       Halford, Jason              10.1159/000505342
751299       Campbell, Kate              10.1159/000505342
751307     Lawrence, Ranald   10.1080/13602365.2014.884842
751313  ShangGuan, XingChen  10.1109/emccompo.2019.8919879

[628186 rows x 2 columns]

In [26]:
digfirst_df = digfirst_df.groupby(['DOI'])['Name'].apply(lambda x: ';'.join(x)).reset_index()
digfirst_df.tail()

,DOI,Name
146262,10.9775/kvfd.2016.15992,"Akpinar, Anil"
146263,10.9775/kvfd.2017.19219,"Bilir, Emine Kubra"
146264,10.9775/kvfd.2019.21884,"Hassan, Astrid Sinarti Binti;Hassan, Amaar"
146265,10.9778/cmajo.20130026,"Cheung, Maurice Chi Hung"
146266,10.​1212/​WNL.​0000000000003221,"Lees, Andrew"

In [27]:
doi_map_df = []
for filename in os.listdir('../download_papers/logs'):
    if 'doi_map.csv' in filename:
        df = pd.read_csv('../download_papers/logs/{}'.format(filename), names=['DOI', 'identifier'], header=0)
        doi_map_df.append(df)
    else:
        continue
len(doi_map_df)

8

In [32]:
doi_df = pd.concat(doi_map_df, axis=0, ignore_index=True)
doi_df

                                 DOI                        identifier
0              10.3390/atmos10120774  3812eb68632211eaaf9210604b8300cd
1                 10.1037/bul0000220  3e14aff6632211ea9c5710604b8300cd
2          10.1101/2020.01.16.909507  45119dac632211ea8b0010604b8300cd
3               10.18678/dtfd.621788  4bb729f4632211ea951210604b8300cd
4               10.1155/2020/2893289  50b8e428632211eaa03d10604b8300cd
...                              ...                               ...
33969                10.1002/jmrs.91  487c7a4863aa11ea935410604b8300cd
33970  10.7861/clinmedicine.13-2-152  4e66cc1463aa11ea997810604b8300cd
33971          10.1093/infdis/jiu121  51f2042e63aa11eaa15f10604b8300cd
33972            10.1155/2014/164826  5387f9c663aa11eaa30310604b8300cd
33973   10.1371/journal.pmed.1001675  56b679a463aa11ea9f7c10604b8300cd

[33974 rows x 2 columns]

In [33]:
merged_df = pd.merge(digfirst_df, doi_df, on="DOI")
merged_df

,DOI,Name,identifier
0,10.10.1164/rccm.201304-0694OC,"Buchan, Iain",164909a2634011eab94610604b8300cd
1,10.1001/archgenpsychiatry.2009.201,"Muller-Myhsok, Bertram",b4a236f8636611eab40910604b8300cd
2,10.1001/archgenpsychiatry.2009.95,"Muller-Myhsok, Bertram",b58ac5ca636611eaad2e10604b8300cd
3,10.1001/archgenpsychiatry.2011.50,"Muller-Myhsok, Bertram",93d4744c636611eabdea10604b8300cd
4,10.1001/archinternmed.2010.162,"Sutton, Robert",7d6eda68633711ea821d10604b8300cd
...,...,...,...
33969,10.9775/kvfd.2014.10676,"Ahmed, Habib",87fef9ca633811eab1d010604b8300cd
33970,10.9775/kvfd.2016.15992,"Akpinar, Anil",2acc2e24633611eaa38f10604b8300cd
33971,10.9775/kvfd.2017.19219,"Bilir, Emine Kubra",42dc0100634511eab68410604b8300cd
33972,10.9775/kvfd.2019.21884,"Hassan, Astrid Sinarti Binti;Hassan, Amaar",baf1ef9a632c11eab2c910604b8300cd
33973,10.9778/cmajo.20130026,"Cheung, Maurice Chi Hung",b178c868639f11eabd3710604b8300cd

In [31]:
merged_df.to_csv(r'doi_author_map.csv', index = False)